<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <a href="{% url 'create_account' %}">Create Account</a>
                <a href="{% url 'create_category' %}">Create Category</a>
                <a href="{% url 'account_list' %}">Accounts</a>
                <a href="{% url 'category_list' %}">Categories</a>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <table>
            <thead>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </thead>
            <tbody>
                {% for list in account_list %}
                <tr>
                    <td>{{list.name}}</td>
                    <td>{{list.number}}</td>
                    <td>{{list.receipts.all.count}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>

</html>
