<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <a href="{% url 'create_account' %}">Create Account</a>
                <a href="{% url 'create_category' %}">Create Category</a>
                <a href="{% url 'account_list' %}">Accounts</a>
                <a href="{% url 'category_list' %}">Categories</a>
                {% else %}
                <li><a href="{% url 'signup' %}">Sign up</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </thead>
            <tbody>
                {% for list in receipt_list %}
                <tr>
                    <td>{{list.vendor}}</td>
                    <td>{{list.total}}</td>
                    <td>{{list.tax}}</td>
                    <td>{{list.date|date:"m/d/y"}}</td>
                    <td>{{list.category.name}}</td>
                    <td>{{list.account.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>
